[Unit]
Description=Easee-MQTT Bridge (LoxBerry Plugin)
After=network-online.target mosquitto.service
Wants=network-online.target

[Service]
Type=simple
Environment=EASEEMQTT_CONFIG=REPLACELBPCONFIGDIR/config.json
ExecStart=REPLACELBPBINDIR/easeemqtt
Restart=on-failure
RestartSec=5
StandardOutput=append:REPLACELBPLOGDIR/easeemqtt.log
StandardError=append:REPLACELBPLOGDIR/easeemqtt.log
User=loxberry
Group=loxberry

[Install]
WantedBy=multi-user.target
